<h1>Salut! Veuillez votre addresse e-mail</h1>

<p>
    Veuillez cligque sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon addresse e-mail</a>.
    Ce lien dans expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>


